* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f7fa;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: Montserrat;
}

.wrapper {
  background: #ffff;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.saidbar {
  background: #1e2939;
  width: 370px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.my-photo {
  width: 370px;
}

.about-me-container {
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 110px;
  padding-bottom: 110px;
}

.Contacts-container {
  margin-top: 60px;
  margin-left: 40px;
  margin-right: 40px;
}

.contacts-taitl {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
}

.contacts-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #434c5a;
}

.contacts-link-taitl {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  margin-right: 10px;
  margin-bottom: 20px;
}

.Tech-skils {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 20px;
}

.Tech-Skill-container {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 55px;
}

.Tech-skils-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #ff6b08;
  margin-right: 15px;
}

.tech-skils-text {
  color: #ffffff;
}

.soft-skils {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 20px;
}

.soft-skils-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #ff6b08;
  margin-right: 15px;
}

.Soft-Skills-container {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 55px;
}

.soft-skils-text {
  color: #ffffff;
}

.Front-end-developer {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  margin-bottom: 25px;
}

.name {
  font-size: 45px;
  font-weight: 700;
  line-height: 89px;
}

.description {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 24px;
}

.about-me-container {
  margin-bottom: 65px;
}

.about-me-taitel {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
}

.project-sait {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #595959;
}

.tech-name {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.dots {
  color: #a8a8a8;
}

.project-item {
  font-weight: 700;
  margin-left: 17px;
}

.project-container {
  margin-bottom: 55px;
}

.front-end-container {
  margin-bottom: 55px;
}

.profesional-taitl {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 25px;
  margin-bottom: 10px;
}

.professional-company {
  color: #ff6b08;
}

.professional-time {
  color: #a8a8a8;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 14px;
}

.professionfl-devaider {
  color: #000000;
}

.profesional-duty {
  margin-bottom: 14px;
  margin-bottom: 30px;
}

.professional-duty-aitem {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.education-taitl {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 15px;
  margin-bottom: 10px;
  color: #ff6b08;
}

.education-expieriens {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
}
